:root {
    --main: #080a0d;; 
    --text: #a9a39a;
    --accent: #791d20;
}


body {
    margin: 0;
    color: var(--text);
    background-image: url("./background.jpg");
    background-position: center;
    height: 100vh;
}


.container {
    width: 95%;
    margin: auto;
    background-color: var(--main);
    padding: 1%;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom: var(--accent) solid 2px;
    border-right: var(--accent) solid 2px;
    border-left: var(--accent) solid 2px;
    text-align: center;
    pointer-events: none;
}

h1 { 
    display: inline;
    flex: 70%;
    font-size: 8vw;
    color: var(--accent);
}

header {
    height: 15%;
}

input, ::placeholder {
    color: var(--accent);
    font-weight: 900;
    text-align: center;
    pointer-events: initial;
}


#intro {
    font-size: 3vw;
}

#search {
    display: flex;
}

#search input {
    padding: 1%;
    font-size: 1rem;
    background-color: var(--text);
    flex-grow: 1;
}

#results {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#results a {
    border: 1px solid var(--text);
    padding: 1%;
    border-radius: 1%;
    flex-grow: 1;
    flex-basis: 22%;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    transition: 200ms;
}

#results a:hover {
    background-color:var(--accent);
}

#results p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 2px 0;
    color: var(--text);
    text-decoration: none;
}

#results div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 700px) {

.container {
    width: 70%;
}

h1 { 
    font-size: 3.5rem;
}

#intro {
    font-size: 1.3rem;
}

    
}
